/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
    padding-top: 75px;
    margin-right: 200px;
}

.donation-total {
    text-align: right;
    min-width: 125px;
    text-shadow: 0 0 2px #ffffff;
    margin-right: 5px;
}

.donation-goal {
    width: 125px;
    text-shadow: 0 0 2px #ffffff;
    margin-left: 5px;
}

.donation-goal:before {
    content: "/ ";
}

.participant-info {
    height: 250px;
    margin-top: 15px;
    display: block;
    text-align: center;
}

.participant-info .name {
    font-size: 22px;
}

.participant-info img {
    border: solid 1px #ccc;
    border-radius: 5px;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.poiret-one {
    font-family: 'Poiret One', cursive;
}

.indie-flower {
    font-family: 'Indie Flower', cursive;
}

.yanone-kaffeesatz {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.sigmar-one {
    font-family: 'Sigmar One', cursive;
}

.amatic-sc {
    font-family: 'Amatic SC', cursive;
}

.architects-daughter {
    font-family: 'Architects Daughter', cursive;
}

.dancing-script {
    font-family: 'Dancing Script', cursive;
}

.pad {
    padding: 10px;
}

.pad .donor {
    font-size: 16px;
    border-bottom: solid 1px #aaaaaa;
    display: inline-block;
    min-width: 275px;
}

.pad .message {
    padding-left: 10px;
}

.all-donors {
    padding: 10px;
}

.row {
    margin-top: 15px;
}

.bar > div {
    padding: 0;
}

.latest-donation,
.all-donations {
    height: 300px;
}